api/venv/
api/__pycache__/

api/schemas/__pycache__/

api/config/__pycache__/

api/models/__pycache__/

api/routes/__pycache__/

api/templates/__pycache__/

api/validacoes/__pycache__/

api/exemplos/__pycache__/

api/rotas/__pycache__/

api/sql_app/__pycache__/

api/app/exemplos/__pycache__/

api/app/__pycache__/

api/app/models/__pycache__/

api/app/rotas/__pycache__/

api/app/sql_app/__pycache__/

api/app/schemas/__pycache__/

api/app/validacoes/__pycache__/
